{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-4">Create Listing</h2>

    <form action="{% url 'createListing' %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        
        {% for field in form %}
            <div class="mb-3">
                {% if field.name == 'category' and not field.field.queryset.exists %}
                <div class="form-text text-warning">
                    Nenhuma categoria disponível.
                    <input type = "hidden" name="category" value="">
                </div>
                    {% else %}
                    <label for="{{ field.id_for_label }}" class="form-label">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
