{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for listing in listings %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                {% if listing.imageUrl %}
                    <img src="{{ listing.imageUrl }}" class="card-img-top" alt="Imagem de {{ listing.title }}">
                {% else %}
                    <div class="card-img-top d-flex align-items-center justify-content-center bg-light" style="height: 200px;">
                        <span class="text-muted">Without Image</span>
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">
                        <strong>Bid:</strong> R$ {{ listing.bid }}
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Open Listing</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}